.wrapper {
   
}
.sidebarwrapper {
    margin: 0px; 
    background-color: black;
    padding-bottom: 40px;
}
.profileimagecontainer {
    padding: 100px; 
    padding-bottom: 20px; 
    padding-top: 40px; 
}
.profileimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    border: 3px solid #4b4949;
    max-width: 200px; 
    max-height: 200px;
}
.name {
    font-size: 32px;
    font-weight: 400;
    text-align: center; 
    text-decoration: none; 
    color: #c5c0c0; 
    margin-bottom: 10px;
}
.position {
    font-size: 16px;
    font-weight: 200;
    text-align: center; 
    text-decoration: none; 
    color: #cfcccc; 
    margin-bottom: 10px;
}